ai_model_capstone/data/*
ai_model_capstone/notebook/.ipynb_checkpoints/*
ai_model_capstone/core/__pycache__/*
ai_model_capstone/mlruns/*
ai_model_capstone/Thesis_25_artifact/*
ai_model_capstone/summary/*
ai_model_capstone/checkpoints/*
ai_model_capstone/data_augment/*
ai_model_capstone/__pycache__/*
ai_model_capstone/image/*
ai_model_capstone/test/video/*
backend_capstone/temp_videos/*
capstone_venv/
ai_model_capstone/notebook/*
ai_model_capstone/test/Oppo/*